<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
  <div class="mdl-layout__header-row">
    <a href="{% url 'home' %}" class="mdl-layout-title">
      <i class="material-icons">pets</i>
    </a>

    <div class="mdl-layout-spacer"></div>
    {% if home %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search">
        <label class="mdl-textfield__label" for="search">Enter your query...</label>
      </div>
    </div>
    <a id="add" href="{% url 'add' %}" class="show-modal mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">add_circle</i>
        <div class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="add">
            Add
        </div>
    </a>
    {% else %}
	{% if edit %}
    <a href="/backoffice/delete/{{ animal.id }}" id="delete" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">delete_forever</i>
        <div class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="delete">
            Delete
        </div>
    </a>
	{% endif %}
    <button id="form-submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">done</i>
        <div class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="form-submit">
            Save
        </div>
    </button>
    {% endif %}

    <div class="vertical-line"></div>

    <a id="logout" href="{% url 'logout' %}" class="show-modal mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">logout</i>
      <div class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="logout">
          Logout
      </div>
    </a>
    
  </div>
</header>
