<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header> {% block header %}{% endblock %} </header>
        <nav class="navbar navbar-default">
            <div>
                {% block nav %}
                <h1>Petconnection</h1>
                <a>Animals</a>
                <a>Entity</a>
                <div align="right">
                    You are logged in as <b>{{ user.get_username }}</b>, {% url 'backoffice_logout' as logout_url %}
                    <a href="{{ logout_url }}">Logout</a>
                </div>
                {% endblock %}
            </div>
        </nav>
        <aside>{% block aside %}{% endblock %}</aside>
        <section>{% block section %}{% endblock %}</section>
        <footer>{% block footer %}{% endblock %}</footer>
    </body>
</html>