{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block main %}
    
<form method="POST" class="demo-card-wide mdl-card">
  {% csrf_token %}
 <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Log In</h2>
  </div>
  <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="id_username" name="username">
          <label class="mdl-textfield__label" for="username">Username</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="id_password" name="password">
          <label class="mdl-textfield__label" for="password">Password</label>
      </div>
  </div>
  <div class="mdl-card__actions">
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Log in"/>
  </div>
</form>

{% endblock %}
